@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 220 10% 23%;
  --heading: 224 71% 4%;
  --muted: 217 12% 75%;
  --btn: 216 12% 92%;
  --secondary: 240 8% 97%;
  --btn-secondary: 224 71% 4%;
  --nav-background: 233 100% 17%;
  --radial-gradient-background: 250, 250, 250;
  --solid-color-background: 15, 15, 15;
  --overlay-color: 255, 255, 255;
}

.dark {
  --background: 260 9% 7%;
  --foreground: 212 14% 62%;
  --heading: 0 0% 98%;
  --muted: 223 3% 56%;
  --btn: 260 9% 7%;
  --secondary: 260 5% 11%;
  --btn-secondary: 222 5% 36%;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }
}

.container {
  @apply mx-auto px-1 max-w-[1200px];
}

@keyframes pulse-gradient {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-pulse-gradient {
  animation: pulse-gradient 2s linear infinite;
}

.radial-gradient {
  background: radial-gradient(
      circle at 50% 0%,
      rgba(var(--radial-gradient-background), 0.05) 0%,
      transparent 60%
    )
    rgba(var(--solid-color-background), 1);
}

.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
}

.linear-overlay {
  background-image: linear-gradient(
    -75deg,
    rgba(var(--overlay-color), 0.1) calc(var(--x) + 20%),
    rgba(var(--overlay-color), 0.5) calc(var(--x) + 25%),
    rgba(var(--overlay-color), 0.1) calc(var(--x) + 100%)
  );
  mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
  -webkit-mask: linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

@keyframes circle-animation {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(50px, -30px);
  }
  50% {
    transform: translate(-30px, 60px);
  }
  75% {
    transform: translate(-50px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-circle-animation {
  animation: circle-animation 10s linear infinite;
}
